#fondo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: url("../assets/image/splash.png") no-repeat center / cover;
}

#logoSplash{
    height: 45vh;
    width: 45vw;
    display: flex;
    left: 30vw;
    bottom: 35vh;
    align-items: center;
    justify-content: center;
    animation: animacion 4s;
    position: absolute;
}

@keyframes animacion{
    0% {
        -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5); transform: translateX(800px) rotateY(30deg) scale(6.5);
        -webkit-transform-origin: -100% 50%; transform-origin: -100% 50%; opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1); transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 600px 50%; transform-origin: 600px 50%; opacity: 1;
      }
}