.background{
  background: lightblue;
}

.HolderLoginUser{
  position: absolute;
  top: 150px;
  left: 15%;
  right: 15%;
}

.HolderLoginPass{
  position: absolute;
  top: 260px;
  left: 15%;
  right: 15%;
}

.MensajesMail{
  position: absolute;
  top: 210px;
  left: 18%;
  right: 15%;
}

.MensajesPass{
  position: absolute;
  top: 320px;
  left: 18%;
  right: 15%;
}

.BotonesForm{
  position: absolute;
  top: 400px;
  left: 22%;
  right: 15%;
}