ion-label{
    text-align: center;
}

ion-row{
    //border-style: dotted;
    margin-top: 15%;
}

.mensajeError{
    top: -15px;
}

.icoCash{
    color: #72e416;
    font-size: 22px;
    text-align: center;
}
.lvlSaldo{
    color:  #72e416;
    font-size: 22px;
    text-align: center;
}
.icoCash2{
    color:  #72e416;
    font-size: 22px;
    text-align: center;
}

.QR{
    top: -40px;
    left: 70px;
    height: 180%!important;
    width: 60%!important;
}

.icoEscCod{
    color:  #72e416;
}
.lblEscCod{
    color:  #60c40e;
    font-size: 22px;
    text-align: center;
}

.btnLimpiar{
    top: -30px;
    left: 70px;
    height: 180%!important;
    width: 60%!important;
}

.icoLimp{
    
    color:  #72e416;
}

.lblLimpiar{
    color:  #72e416;
    font-size: 40px;
    text-align: center;
}

.btnDesconectarse{
    left: 70px;
    height: 100%!important;
    width: 60%!important;
}

.lblDesc{
    color:  #72e416;
    font-size: 20px;
    text-align: center;
}

.icoDesc{
    color:  #72e416;
}