<div class="content-Box">
  <div class="cosasLindas">
    <img src="../../assets/image/edificioLindo.png" height="280" style="margin-bottom: -4px;" (click)="cosasLindas()">
  </div>
  <div class="cosasFeas">
    <img src="../../assets/image/edificioFeo.png" height="280" style="margin-bottom: -4px;" (click)="cosasFeas()">
  </div>
  <ion-chip class="deslogear" outline color="dark" (click)="Volver()">
    <ion-icon name="arrow-back-circle"></ion-icon>
    <ion-label>Desconectarse</ion-label>
  </ion-chip>
</div>