.ConjuntoBackground{
  
    background-color: #8985DE;
    padding: 2px;
}

.LoginBox{
  margin-top: -80px;
  border-radius: 15px;
  border-style: dashed;
}

.loginHolder{
  color: #000000;
  padding-top: 20px;
}

.loginHolder2{
  color: #000000;
  padding-top: 20px;
}

.btns{
  margin-left: 45px;
  padding: 15px;
}

.selectAcc{
  padding: 15px;
  color: #879EF5;
}

.selectAcc, ion-label{
  color: #010616;
}