.homeDiv{
    margin-right: 20%;
    margin-left: 20%;
    text-align: center !important;
  }
  
  h1 {
    text-align: center !important;
  }
  
  .Text{
    margin-right: 20%;
    margin-block: right;
    margin-left: 20%;
    text-align: center !important;
  }
  
  ion-content{
   --ion-background-color: rgb(222, 241, 187);
  }
  
  img{
    border-radius: 35%;
    max-width: 100%;
    max-height: 100%;
    opacity: 70%;
  }
  
  .primeraListaBotones{
    margin-left: 10%;
    margin-right: 5%;
  }
  
  .segundaListaBotones{
    margin-left: 25%;
    margin-right: 5%;
  }
  
  .holder{
    margin-left: 8%;
  }
  
  .mensaje{
    margin-left: 15%;
    margin-right: 5%;
  }
  
  .btn{
    margin-left: 20%;
  }
  