.content-CosasLintas{
    border-style: groove;
    background: cyan;
    height: 100vh;
    width: 100vw;
}

.volver{
    margin-top: 7%;
    float: initial;
    margin-left: 2%;
}

.camaraAccess{
    margin-top: 5%;
    margin-left: 22%;
    float: initial;
}

.galeryAccess{
    margin-top: 1%;
    margin-left: 56%;
    margin-bottom: 2%;
    float: initial;
}

.galeryView{
    margin-top:-17%;
    float: initial;
    margin-left: -15%;
    margin-bottom: 2%;
}

.content-fotos{
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
}

h5{
    color: darkslategrey;
}

ion-card{
    background: salmon;
    text-align: center;
}